<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{navigation.patients}"></title>
</head>
<body>
<div class="align-items-center container p-5 rounded" layout:fragment="content" th:remove="tag">
    <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>

    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center d-flex">
                <div class="col-8 align-self-center">
                    <h3 class="mb-3"
                        th:text="#{patient.patient_name(${#strings.concat(patient.firstName, ' ', patient.lastName)})}"></h3>
                </div>
                <div class="col d-flex justify-content-end align-self-center">
                    <ul th:text="#{riskLevel.patient_info}" class="align-text-center px-2"></ul>
                    <ul class="list-inline">
                        <li th:if="${patientRiskLevel.toString() == 'None'}">
                            <div class="badge text-bg-success" th:text="#{riskLevel.none}"></div>
                        </li>
                        <li th:if="${patientRiskLevel.toString() == 'Borderline'}">
                            <div class="badge text-bg-warning" th:text="#{riskLevel.borderline}"></div>
                        </li>
                        <li th:if="${patientRiskLevel.toString() == 'In_Danger'}">
                            <div class="badge text-bg-danger" th:text="#{riskLevel.in_danger}"></div>
                        </li>
                        <li th:if="${patientRiskLevel.toString() == 'Early_Onset'}">
                            <div class="badge text-bg-info" th:text="#{riskLevel.early_onset}"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div th:object="${patient}" class="form-horizontal mb-5">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="lastName" th:text="#{patient.last_name}"></label>
                            <input class="form-control"
                                   id="lastName" name="lastname" th:field="*{lastName}" disabled required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="firstName" th:text="#{patient.first_name}"></label>
                            <input class="form-control"
                                   id="firstName" name="firstname" th:field="*{firstName}" disabled required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="birthday" th:text="#{patient.birth_date}"></label>
                            <input class="form-control"
                                   id="birthday" name="birthday" th:field="*{birthDate}"
                                   format="dd/MM/yyyy" disabled required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="gender" th:text="#{patient.gender}"></label>
                            <select class="form-select"
                                    id="gender" name="gender" th:field="*{gender}" disabled required>
                                <option th:each="gender : ${T(com.oc.medilabo.bean.enums.Gender).values()}"
                                        th:value="${gender.name()}"
                                        th:text="${gender.name()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="postalAddress" th:text="#{patient.postal_address}"></label>
                    <input class="form-control"
                           id="postalAddress" th:value="*{postalAddress}"
                           th:field="*{postalAddress}"
                           placeholder="" name="postalAddress" disabled>
                </div>
                <div class="form-group mb-3">
                    <label for="phoneNumber" th:text="#{patient.phone_number}"></label>
                    <input class="form-control"
                           id="phoneNumber" th:value="*{phoneNumber}"
                           th:field="*{phoneNumber}"
                           placeholder="XXX-XXX-XXXX" name="phoneNumber" disabled>
                </div>
                <div class="row justify-content-center m-3">
                    <div class="col">
                        <a type="button"
                            class="btn btn-primary"
                            th:href="@{/patients/update/{patientId}(patientId=${patient.patientId})}"
                            th:text="#{patient.update_patient_button}"></a>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <a type="button" class="btn btn-secondary text-white"
                           th:href="@{/patients}" th:text="#{patients.return}"></a>
                    </div>
                </div>
                <div th:insert="~{notes/notes-by-patient :: notes}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
