<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{navigation.patients}"></title>
</head>
<body>
<div class="align-items-center container p-5 rounded" layout:fragment="content" th:remove="tag">
    <div class="">
        <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="mb-3" th:text="#{patient.add_patient}"></h4>
            <form method="post"
                  th:action="@{/patients/add}"
                  th:object="${patient}"
                  class="form-horizontal">
                <div class="form-group mb-3">
                    <label for="lastName" th:text="#{patient.last_name}"></label>
                    <input class="form-control"
                           id="lastName" name="lastname" th:field="*{lastName}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="firstName" th:text="#{patient.first_name}"></label>
                    <input class="form-control"
                           id="firstName" name="firstname" th:field="*{firstName}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="birthday" th:text="#{patient.birth_date}"></label>
                    <input type="date" class="form-control"
                           id="birthday" name="birthday" th:field="*{birthDate}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="gender" th:text="#{patient.gender}"></label>
                    <select class="form-select"
                            id="gender" name="gender" th:field="*{gender}" required>
                        <option th:text="#{patient.select_gender}" value="" selected></option>
                        <option th:each="gender : ${T(com.oc.medilabo.bean.enums.Gender).values()}"
                                th:value="${gender.name()}"
                                th:text="${gender.name()}"></option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="postalAddress" th:text="#{patient.postal_address}"></label>
                    <input class="form-control"
                           id="postalAddress" th:value="*{postalAddress}"
                           th:field="*{postalAddress}"
                           placeholder="" name="postalAddress">
                </div>
                <div class="form-group mb-3">
                    <label for="phoneNumber" th:text="#{patient.phone_number}"></label>
                    <input class="form-control"
                           id="phoneNumber" th:value="*{phoneNumber}"
                           th:field="*{phoneNumber}"
                           placeholder="XXX-XXX-XXXX" name="phoneNumber">
                </div>
                <div class="row justify-content-center m-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" th:text="#{patient.add_patient}"></button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <a type="button" class="btn btn-secondary text-white" th:href="@{/patients}" th:text="#{form.cancel}"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
